$white: #fff;
$light-purple: #c899f7;
$black: black;
$table-bg: #99c4f7;
$blue-light: #86e7f0;
$value-hover: #29769c;
$best-bg: #9896e0;
$value-bg: #ee8bf0;
$poppins: "Poppins", sans-serif;
$desktop: 1000px;
