h1 {
  text-align: left;
  font-weight: bold;
  font-size: 42px;
  font-variant: small-caps;
}

.table-title {
  background-color: #bfe0bf;
  text-align: center;
  margin-top: 3px;
}

th {
  background-color: #eee;
}
.continer {
  position: relative;
}
main {
  display: flex;
  justify-content: space-around;
}

.flag {
  width: 20px;
}

.box-left {
  width: 60%;
}

.box-right {
  border: darkgrey solid 1px;
  background-color: #f9f9f9;
  right: 0px;
  width: 30%;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}
li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}
li li {
  margin: 0;
}

.div-list {
  margin-left: 2%;
  width: 400px;
  border: 2px solid black;
  padding: 5px;
}
